In [4]:
import math
import numpy as np
import pandas as pd


data=pd.read_excel("Midterm question 18.xlsx")

data.head(20)

    customer id gender car type   shirt size class
0             1      M   Family        Small    C0
1             2      M   Sports       Medium    C0
2             3      M   Sports       Medium    C0
3             4      M   Sports        Large    C0
4             5      M   Sports  Extra Large    C0
5             6      M   Sports  Extra Large    C0
6             7      F   Sports        Small    C0
7             8      F   Sports        Small    C0
8             9      F   Sports       Medium    C0
9            10      F   Luxury        Large    C0
10           11      M   Family        Large    C1
11           12      M   Family  Extra Large    C1
12           13      M   Family       Medium    C1
13           14      M   Luxury  Extra Large    C1
14           15      F   Luxury        Small    C1
15           16      F   Luxury        Small    C1
16           17      F   Luxury       Medium    C1
17           18      F   Luxury       Medium    C1
18           19      F   Luxury       Medium    C1
19           20      F   Luxury        Large    C1